version: "3.8"

services:
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.15.0
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - ES_JAVA_OPTS=-Xms1g -Xmx1g
    ports:
      - "9200:9200"
    volumes:
      - esdata:/usr/share/elasticsearch/data
    networks:
      - elk

  kibana:
    image: docker.elastic.co/kibana/kibana:8.15.0
    environment:
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
    depends_on:
      - elasticsearch
    ports:
      - "5601:5601"
    networks:
      - elk

  logstash:
    image: docker.elastic.co/logstash/logstash:8.15.0
    depends_on:
      - elasticsearch
    ports:
      - "5000:5000"
      - "5044:5044"
    volumes:
      - ./logstash/pipeline:/usr/share/logstash/pipeline:ro
    networks:
      - elk

  filebeat:
    image: docker.elastic.co/beats/filebeat:8.15.0
    user: root
    depends_on:
      - logstash
    volumes:
      - ./filebeat/filebeat.yml:/usr/share/filebeat/filebeat.yml:ro
      - logs-order:/var/log/services/order-api:ro
      - logs-inventory:/var/log/services/inventory-service:ro
      - logs-payment:/var/log/services/payment-service:ro
      - filebeat-data:/usr/share/filebeat/data
    command: filebeat -e -strict.perms=false
    networks:
      - elk

  inventory-service:
    build:
      context: .
      dockerfile: src/InventoryService/Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - Logstash__Host=logstash
      - Logstash__Port=5000
    volumes:
      - logs-inventory:/app/logs
    depends_on:
      - logstash
    networks:
      - elk

  payment-service:
    build:
      context: .
      dockerfile: src/PaymentService/Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - Logstash__Host=logstash
      - Logstash__Port=5000
    volumes:
      - logs-payment:/app/logs
    depends_on:
      - logstash
    networks:
      - elk

  order-api:
    build:
      context: .
      dockerfile: src/OrderApi/Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - InventoryService__BaseUrl=http://inventory-service
      - PaymentService__BaseUrl=http://payment-service
      - Logstash__Host=logstash
      - Logstash__Port=5000
    volumes:
      - logs-order:/app/logs
    ports:
      - "8080:80"
    depends_on:
      - inventory-service
      - payment-service
      - logstash
    networks:
      - elk

volumes:
  esdata:
  logs-order:
  logs-inventory:
  logs-payment:
  filebeat-data:

networks:
  elk:
    driver: bridge

